<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <p>This is really just a link to GitHub Repository</p>
    <p> <a href="https://github.com/waxinlyrical?tab=repositories">Here you go</a></p>
    {{> footer}}
  </body>

</html>
